<div class="footer-bg">
  <div class="page-wrap">
    <div class="row">
      <div class="col-5">
        <div class="footer-container">
          <div class="row">
            <a href="">Dashboard</a>
          </div>
          <div class="row">
            <a href="">Contacts</a>
          </div>
          <div class="row">
            <a href="">Notifications</a>
          </div>
          <div class="row footer-copyright">
            <div>
              &copy; 2018 MyContacts
            </div>
            <div>
              <a href="">About</a>
            </div>
            <div>
              <a href="">Privacy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 footer-middle-bg footer-center">
        <div class="row line-bottom footer-content">
          <div class="col-2 align-center image-align-center">
            <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-6 align-center">
              Last synced: <br />
              2015-06-02 14:33:10
          </div>
          <div class="col-4 align-center footer-sync">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <a href="">Force sync</a>
          </div>
        </div>
        <div class="row footer-content align-center">
          <div class="col-2 footer-align-center  image-align-center">
            <i class="fa fa-stethoscope fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col align-center">
              Help desk and Resolution center available: <br />
              I-IV 8:00-18:00, V 8:00-16:45
          </div>
        </div>
      </div>
      <div class="col-3">
          <div class="footer-container">
            <div class="row">
              <a href="">Groups</a>
            </div>
            <div class="row">
              <a href="">Frequently contacted</a>
            </div>
            <div class="row">
              <a href="">Preferences</a>
            </div>
            <div class="row">
              <a href="">Log out</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

